fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary

python-dotenv

pydantic
pydantic-settings

supabase
alembic

pytest 

slowapi
rich

supabase

google-genai

redis

psycopg

psycopg[binary]
sqlalchemy[asyncio]
asyncpg